#login-parent-container {
    /* background-color: #55c2c3; */
    width: 100vw;
    height: 100vh;
}

#login {
    /* background-color: #03045e; */
    width: 25%;
    padding-bottom: 10px;
    ;
    height: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: auto;
    /* centers the div itself */
    position: absolute;
    top: 5px;
    bottom: 0;
    left: 0;
    right: 0;
    border: 2px solid black;
}

#login p {
    margin: 20px;
    text-align: center;
}

#login h1 {
    text-align: center;
    margin-bottom: 10px;
    padding-top: 20px;
}

#login #submit {
    width: 80%;
}

#login span {
    margin-right: 5px;
}

#login button:hover {
    cursor: pointer;
}

#submit-button {
    width: 100%;
}